:root {
    /* COLORS */
    --primary-color: #354b60;  /* charcoal */
    --primary-hover-color:#1a2937;
    --secondary-color: #2980B9; /* steel blue */
    --secondary-hover-color:#1f5e88;
    --accent-color: #C0392B; /* persian red */
    --neutral1-color: #ECF0F1; /* antiflash white */
    --neutral2-color: #d1d9de; /* french gray */

    /* TYPOGRAPHY */
    --primary-font-color: #2C3E50; /* Oswald */
    --primary-font: 'Oswald', sans-serif;


    --secondary-font-color: #ebeff3; /* softer gray */
    --secondary-font: 'Merriweather', serif;


    --accent-font-color: #C0392B;
    --accent-font: 'Source Sans Pro', sans-serif;

     /* FONT SIZES */
     --font-size-small: 1rem; /* 14px */
     --font-size-medium: 1.3rem;    
     --font-size-large: 1.6rem;  
     --font-size-xlarge: 2rem;  
 
     /* BUTTON SIZES */
     --button-padding: 0.75rem 1.5rem; /* Padding for buttons */
     --button-border-radius: 5px;
}

/* Global Styles */
body {
    font-family: var(--secondary-font);
    color: var(--primary-font-color);
}

h1, h2, h3 {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

