.hero-header-section{
    background-color: var(--neutral1-color);
    color: var(--primary-font-color);
}

.main-text{
    font-size: var(--font-size-medium);
}
.buttons-row{
    padding:auto;
}

.benefits-section{
    background-color: var(--neutral2-color);
    color: var(--primary-font-color);
    font-size: var(--font-size-small);
}

.benefits-section-image{
    background-color: orange;
}

.benefits-section-headings{
    font-size: var(--font-size-medium);
    text-align: center;
}

.feature-section{
    background-color: var(--neutral1-color);
    color: var(--primary-font-color);
}

